<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="single-blog content">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>

    <%- include('../partials/footer.ejs')  %>

    <script>
        const deleteBtn = document.querySelector('.delete')
        deleteBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${deleteBtn.dataset.doc}`
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(err => console.error(err))
        })
    </script>
</body>
</html>

